<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.alto.diplom/menu.application.title" opened="true">
        <item view="ls_User.list" title="msg://com.alto.diplom.view.user/UserListView.title"/>
        <item view="Company.list" title="msg://com.alto.diplom.view.company/companyListView.title"/>
        <item view="Customer.list" title="msg://com.alto.diplom.view.customer/customerListView.title"/>
        <item view="CustomerBonusAccount.list"
              title="msg://com.alto.diplom.view.customerbonusaccount/customerBonusAccountListView.title"/>
        <item view="LoyaltyLevel.list" title="msg://com.alto.diplom.view.loyaltylevel/loyaltyLevelListView.title"/>
        <item view="LoyaltyProgramConfig.list"
              title="msg://com.alto.diplom.view.loyaltyprogramconfig/loyaltyProgramConfigListView.title"/>
        <item view="ItemGroup.list" title="msg://com.alto.diplom.view.itemgroup/itemGroupListView.title"/>
        <item view="Transaction_.list" title="msg://com.alto.diplom.view.transaction/transactionListView.title"/>
    </menu>

</menu-config>