<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.alto.diplom/menu.application.title" opened="true">
        <item view="ls_User.list" title="msg://com.alto.diplom.view.user/UserListView.title"/>
        <item view="Company.list" title="msg://com.alto.diplom.view.company/companyListView.title"/>
    </menu>

</menu-config>